.options{
    width: 100%;
    height: 100vh;
    background: url('../../assets/felix-fuchs-9Z2-hIOO0sk-unsplash.jpg') no-repeat center center/cover;

}

.options .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.options .top{
    margin-top: 7rem;
    color: #f6f6ff;
}

.options .bottom{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}